.alert {
    position: fixed;
    bottom: 2%;
    left: 20%;
    right: 20%;
    padding: 10px;
    border-radius: 0.2em;
    text-align: center;
}

.warn {
    background-color: var(--alert-warning-bg);
    color: var(--alert-warning-text);
}

.info {
    background-color: var(--alert-info-bg);
    color: var(--alert-info-text);
}
