@if (!string.IsNullOrWhiteSpace(_message))
{
    <div class="@($"alert {Level}")">
        @_message
    </div>
}

@code {
    private string _message;

    [Parameter]
    public string Level { get; set; }

    [Parameter]
    public string Message
    {
        get => _message;
        set => SetMessageAsync(value);
    }

    private async Task SetMessageAsync(string value)
    {
        _message = value;
        await Task.Delay(3000);
        _message = "";
        StateHasChanged();
    }
}