@using MauiGpt.Data
@using MauiGpt.Dto
@inject SettingsService SettingsService
<div class="horizontal-container">
    <p class="text" style="flex: 1">Model</p>
    <select style="flex: 5" id="settings-model" value="@_currentModelId" @onchange="OnSelectChanged" >
        @foreach (var model in _models)
        {
            <option value="@model.Id" selected>@model.Name</option>
        }
    </select>
</div>

@code {
    private IList<ModelsDto> _models = new List<ModelsDto>();
    private int _currentModelId = -1;

    protected override async Task OnInitializedAsync()
    {
        LoadModels();
    }

    void OnSelectChanged(ChangeEventArgs e)
    {
        _currentModelId = int.Parse(e.Value?.ToString() ?? "0");
        SettingsService.SetCurrentModel(_currentModelId);
    }

    private void LoadModels()
    {
        _models = SettingsService.GetAll().ToList();
        _currentModelId = SettingsService.GetCurrent()?.Id ?? -1;
    }
}
