@using MauiGpt.Data
@using MauiGpt.Dto
@inject SettingsService SettingsService
<div class="horizontal-container">
    <p class="text" style="flex: 1">Model</p>
    <select style="flex: 5" id="settings-model" @bind="_currentModelId">
        @foreach (var model in _models)
        {
            <option value="@model.Id" selected>@model.Name</option>
        }
    </select>
    <a @onclick="SetModel" class="ok-button" title="Set" style="flex: 1">Set</a>
</div>

@code {
    private IList<ModelsDto> _models = new List<ModelsDto>();
    private int _currentModelId = -1;

    protected override async Task OnInitializedAsync()
    {
        LoadModels();
    }

    private void LoadModels()
    {
        _models = SettingsService.GetAll().ToList();
        _currentModelId = SettingsService.GetCurrent()?.Id ?? -1;
    }

    private void SetModel()
    {
        SettingsService.SetModel(_currentModelId);
    }
}
