.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom {
    height: 3.5em;
    background: var(--input-bg);
}

.top {
    flex-grow: 1;
    background: var(--chat-bg);
    height: 100%;
    overflow: auto;
}

.scroll-list {
    width: 100%;
    height: calc(100vh - 6em);
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.gpt-question {
    width: 98%;
    background: var(--chat-question-bg);
    color: var(--chat-question-text);
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 0.3em;
    padding-left: 1em;
    margin-top: 0.5em;
    margin-left: auto;
}

.gpt-answer {
    width: 98%;
    background: var(--chat-answer-bg);
    color: var(--chat-answer-text);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-right: auto;
}

.gpt-error {
    width: 98%;
    background: var(--chat-error-bg);
    color: var(--chat-error-text);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    padding: 0.3em;
    margin-top: 0.5em;
    margin-right: auto;
}

p {
    margin-bottom: 0.5em;
}

.answer-padding {
    padding: 0.7rem 1rem 0rem 1rem;
}

.chat-input-container {
    background: var(--input-field);
    margin: 0.5em;
    border-radius: 0.5em;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0.8em;
    padding-right: 1em;
}

.chat-input-field {
    background: none;
    border: none;
    width: 80%;
    font-size: 120%;
    color: var(--input-text);
}

.chat-input-field:focus {
        outline: none;
    }

.chat-input-send {
    display: inline-block;
    padding: 0.5em;
    background-color: #007bff; /* set the background color */
    color: white; /* set the font color */
    border: none; /* remove the default border */
    border-radius: 5px; /* round the edges */
    text-decoration: none; /* remove the underline */
    text-align: center;
    cursor: pointer;
    width: 8%;
}

.chat-input-clear {
    display: inline-block;
    padding: 0.5em;
    background-color: #aa1111; /* set the background color */
    color: white; /* set the font color */
    border: none; /* remove the default border */
    border-radius: 5px; /* round the edges */
    text-decoration: none; /* remove the underline */
    text-align: center;
    cursor: pointer;
    width: 8%
}