.container {
    display: flex;
    height: 100%
}

.left {
    width: 5em;
    background: var(--menu-bg);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.right {
    flex: 1;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    background: var(--main-bg);
}

.header {
    height: 2em;
    color: var(--main-text);
    background: var(--main-bg);
    font-size: larger;
    text-align: center;
    padding-top: 0.5em;
}

.body {
    flex-grow: 1;
}