@inherits LayoutComponentBase

<div class="container">
    <div class="left">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink class="nav-link" href="settings">Settings</NavLink>
    </div>
    <div class ="right">
        <div class="header">Maui GPT</div>
        <div class="body">@Body</div>
    </div>
</div>
