@inherits LayoutComponentBase
@using MauiGpt.Svg
@using MauiGpt.Components

<div class="container">
    <div class="left">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Chat">
            <ChatIcon />
        </NavLink>
        <NavLink class="nav-link" href="settings" title="Settings">
            <SettingsIcon />
        </NavLink>
    </div>
    <div class ="right">
        <div class="header">
            <div style="flex:1"></div>
            <p style="flex: 1; margin: 0;">Maui GPT</p>
            <SelectModel/>
        </div>
        <div class="main-area">@Body</div>
    </div>
</div>
