@inherits LayoutComponentBase
@using MauiGpt.Svg

<div class="container">
    <div class="left">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All" title="Chat">
            <ChatIcon />
        </NavLink>
        <NavLink class="nav-link" href="settings" title="Settings">
            <SettingsIcon />
        </NavLink>
    </div>
    <div class ="right">
        <div class="header">Maui GPT</div>
        <div class="body">@Body</div>
    </div>
</div>
